<div class="modal-body">
    <form action="{{ url_for('usuario.change_password') }}" method="post">
        <div class="mb-3">
            <label for="password_actual" class="form-label">Contraseña Actual</label>
            <input type="password" class="form-control" id="actual_password" name="actual_password" required>
        </div>
        <div class="mb-3">
            <label for="nueva_password" class="form-label">Nueva Contraseña</label>
            <input type="password" class="form-control" id="nuevo_password" name="nuevo_password" required>
        </div>
        <div class="mb-3">
            <label for="confirmar_password" class="form-label">Confirmar Nueva Contraseña</label>
            <input type="password" class="form-control" id="confirmar_password" name="confirmar_password" required>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-save"></i> Cambiar Contraseña
            </button>
        </div>
    </form>
</div>