<div class="modal-body">
    <form action="{{ url_for('espacio.edit', id=item.id) }}" method="post">
        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="sector" class="form-label">Codigo</label>
                <input type="text" class="form-control" id="numero" name="numero" value="{{ item.numero }}" required>
            </div>
            <div class="col-md-3 mb-3">
                <label for="tipo" class="form-label">Tipo de Espacio</label>
                <select class="form-select" id="tipo" name="tipo" required>
                    <option value="">Seleccione un tipo</option>
                    <option value="Nicho" {% if item.tipo=='Nicho' %}selected{% endif %}>Nicho</option>
                    <option value="Tumba" {% if item.tipo=='Tumba' %}selected{% endif %}>Tumba</option>
                    <option value="Mausoleo" {% if item.tipo=='Mausoleo' %}selected{% endif %}>Mausoleo</option>
                    <option value="Columbario" {% if item.tipo=='Osario' %}selected{% endif %}>Osario</option>
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="numero" class="form-label">Descripcion</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion"
                    value="{{ item.descripcion }}" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="sector" class="form-label">Sector</label>
                <input type="text" class="form-control" id="sector" name="sector" value="{{ item.sector }}" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="sector" class="form-label">Pabellon</label>
                <input type="text" class="form-control" id="pabellon" name="pabellon" value="{{ item.pabellon}}"
                    required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="sector" class="form-label">fila</label>
                <input type="text" class="form-control" id="fila" name="fila" value="{{ item.fila }}" required>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="estado" class="form-label">Estado</label>
                <select class="form-select" id="estado" name="estado" required>
                    <option value="Disponible" {% if item.estado=='Disponible' %}selected{% endif %}>Disponible</option>
                    <option value="Reservado" {% if item.estado=='Reservado' %}selected{% endif %}>Reservado</option>
                    <option value="Ocupado" {% if item.estado=='Ocupado' %}selected{% endif %}>Ocupado</option>
                    <option value="Mantenimiento" {% if item.estado=='Mantenimiento' %}selected{% endif %}>Mantenimiento
                    </option>
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="difunto_id" class="form-label">Difunto Asignado</label>
                <select class="form-select" id="difunto_id" name="difunto_id">
                    <option value="">Sin asignar</option>
                    {% for difunto in difuntos %}
                    <option value="{{ difunto.id }}" {% if item.difunto_id==difunto.id %}selected{% endif %}>{{
                        difunto.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="fecha_ocupacion" class="form-label">Fecha de Ocupacion</label>
                <input type="date" class="form-control" id="fecha_ocupacion" name="fecha_ocupacion"
                    value="{{ item.fecha_ocupacion.strftime('%Y-%m-%d') if item.fecha_ocupacion else '' }}">

            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-save"></i> Actualizar Espacio
            </button>
        </div>
    </form>
</div>