{% extends 'dashboard.html' %}
{% block title %}Clientes{% endblock %}

{% block dashboard_content %}


<div class="d-flex justify-content-between align-items-center mb-4">
    <h1><i class="bi bi-people"></i> Clientes</h1>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalCrear">
        <i class="bi bi-plus-circle"></i> Nuevo Cliente
    </button>
</div>

<div class="card shadow">
    <div class="card-body">
        <table class="table table-striped">
            <tr class="table-dark">
                <th>ID</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>email</th>
                <th>direccion</th>
                <th>Fecha de Registro</th>
                <th>Acciones</th>
            </tr>
            {% for item in clientes %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.telefono}}</td>
                <td>{{item.email}}</td>
                <td>{{item.direccion}}</td>
                <td>{{item.fecha_registro.strftime('%d/%m/%Y')}}</td>
                <td>
                    <button class="btn btn-primary" data-bs-target="#ModalEditar{{ item.id }}" data-bs-toggle="modal">
                        <i class="bi bi-pencil"></i>
                    </button>

                    <a href="{{ url_for('cliente.delete', id=item.id) }}" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
            <div class="modal fade" id="ModalEditar{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">
                                <i class="bi bi-pencil"></i> Actualizar Cliente
                            </h1>
                        </div>

                        {% include 'clientes/edit.html' %}

                    </div>
                </div>
            </div>
            
            {% endfor %}
            <div class="modal fade" id="ModalCrear" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Registro de Cliente</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        {% include 'clientes/create.html' %}

                    </div>
                </div>
            </div>
        </table>
    </div>
</div>




{% endblock %}

{% block scripts %}

{% endblock %}